html,body{
width: 100%;
height: 100%;
background: radial-gradient( yellow 35%,  orange 100%);
position: fixed;
}
.content
{
    width:100%;
    top: 100%;
    height: 100%;
    padding:0;
    background: radial-gradient( yellow 40%, orange 100%);
}
.content:before
{
    background: linear-gradient(-45deg, transparent 20px, darkred 0), 
				linear-gradient(45deg, transparent 20px, darkred 0);
    background-repeat: repeat-x;
    background-position: left bottom;
    background-size: 22px 32px;
    content: "";
    display: block;
    width: 100%;
    height: 36px;
    position: absolute;
    top:0;
}

.flower
{   position: absolute;
    top:  22%;
    left: 30%;
    width:700px;
    height:450px;
    background: radial-gradient( transparent 50%,  orange 100%);
    border-radius: 60%;
    border-bottom-color: orange;
    
}

.flower:before{
    content: "";
    display: inline-block;
    position: absolute;
    width: 700px;
    height:450px;
    background: radial-gradient( transparent 40%,  orange 100%);
    border-radius: 60%;
    
    transform: rotate(90deg)
}


.circle1
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 500px;
    border-radius: 51%;
}
.circle
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 450px;
    height: 450px;
    border-radius: 50%;
}
    .triangle {
  position: absolute;
  left: 6.7%;
  top: 0;
  width: 86.6%;
  height: 75%;
  background-color: red;
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
  transform-origin: center 66.6%;
}

.triangle:nth-child(2) { transform: rotate(10deg); }
.triangle:nth-child(3) { transform: rotate(20deg); }
.triangle:nth-child(4) { transform: rotate(30deg); }
.triangle:nth-child(5) { transform: rotate(40deg); }
.triangle:nth-child(6) { transform: rotate(50deg); }
.triangle:nth-child(7) { transform: rotate(60deg); }
.triangle:nth-child(8) { transform: rotate(70deg); }
.triangle:nth-child(9) { transform: rotate(80deg); }
.triangle:nth-child(10) { transform: rotate(90deg); }
.triangle:nth-child(11) { transform: rotate(100deg); }
.triangle:nth-child(12) { transform: rotate(110deg); }

.circle1:after
{
    content: '';
    position: inherit;
    width: 100%;
    height: 100%;
    border: 6px dotted #fff;
    box-sizing: border-box;
    border-radius: 50%;
}

.lamp {
  position: relative;
  top: 200px;
  left: 50px;
  margin: 0 auto;
  height: 100px;
  width: 100px;
  background-color: saddlebrown;
  border-radius: 0px 10px 100% 0px;
  border-bottom: 3px solid #381801;
  box-shadow: inset 0 -50px 50px -20px #381801;

}

.lamp:before {
  content: '';
  display: block;
  height: 100px;
  width: 110px;
  margin-left: -100px;
  background-color: saddlebrown;
  border-radius: 10px 0px 0px 100%;
  box-shadow: inset 0 -50px 50px -20px #381801;
  border-bottom: 3px solid #381801;
}

.flame {
  position: absolute;
  top: -65px;
  left: -30px;
  width: 60px;
  height: 60px;
  background: Orangered;
  border-radius: 0 110px 20px 110px;
  transform: rotate(45deg);
 
}

.flame:after {
  content: '';
  display: block;
  width: 60px;
  height: 60px;
  background: linear-gradient( yellow 0%,  red 100%);
  border-radius: 0 110px 20px 110px;
  
}

.top {
  position: absolute;
  top: -40px;
  left: -100px;
  height: 90px;
  width: 180px;
  background-color: saddlebrown;
  border-radius: 100%;
  border-left: 10px solid #381801;
  border-right: 10px solid #381801;
 background: radial-gradient(OrangeRed, saddlebrown 40%, #381801);
   
}



